.schedule-content {
  display: flex;
}

.schedule-display {
  width: 70%;
}

.schedule-container .container h1 {
  margin-bottom: 20px;
}

.schedule-container .container h1 span {
  color: rgb(77, 77, 77);
  font-size: 0.6em;
}

.schedule-container .container h1 span span {
  color: tomato;
  font-size: 1.2em;
}

.schedule__aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule-aside-content {
  width: 90%;
  padding: 20px;
}

.schedule-aside-content h4 span {
  font-size: 0.9em;
  color: tomato;
}

.schedule-aside-content h4 {
  margin-bottom: 10px;
}

.schedule-aside-select {
  width: 100%;
  height: 50px;
  font-size: 1rem;
  padding-left: 0.5rem;
}

.e-calendar,
.e-bigger.e-small .e-calendar {
  margin: 0 auto 15px auto;
}
