.show-episodes-details-view__display {
  display: flex;
  flex-direction: column;
}

.show-episodes-details-view__display h2 {
  margin-bottom: 15px;
}

.show-episodes-details-view__display-seasons {
  margin-bottom: 40px;
}

.seasons-data {
  display: flex;
  justify-content: space-evenly;
  border: 4px dotted tomato;
}

.seasons-data a {
  padding: 1rem;
  color: tomato;
}

.seasons-data a:hover {
  text-decoration: underline;
}

.show-episodes-details-view__display-episodes {
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0 0 1px lightgray;
  margin-bottom: 25px;
}

.episodes-info,
.episodes-data {
  display: flex;
}

.episodes-info-item {
  background-color: rgb(255, 199, 188);
  padding: 0.5rem;
  border-right: 1px solid white;
}

.episodes-info-item:last-of-type {
  border: none;
}

.episodes-info-item:nth-of-type(1),
.episodes-data-item:nth-of-type(1) {
  width: 12%;
}

.episodes-info-item:nth-of-type(2),
.episodes-data-item:nth-of-type(2) {
  width: 12%;
}

.episodes-info-item:nth-of-type(3),
.episodes-data-item:nth-of-type(3) {
  width: 22%;
}

.episodes-info-item:nth-of-type(4),
.episodes-data-item:nth-of-type(4) {
  width: 54%;
}

.episodes-info-item:nth-of-type(1),
.episodes-info-item:nth-of-type(2),
.episodes-data-item:nth-of-type(1),
.episodes-data-item:nth-of-type(2) {
  justify-content: center;
  text-align: center;
}

.episodes-data-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.episodes-data:nth-of-type(1n) {
  background-color: #ebebeb;
}

.episodes-data:nth-of-type(2n) {
  background-color: white;
}

.episodes-data-item a {
  color: tomato;
}

.episodes-data-item a:hover {
  text-decoration: underline;
}
