.search-shows__container > .container > h1 {
  text-align: center;
  margin-bottom: 80px;
}

h1 span {
  color: tomato;
}

.search-shows {
  width: 100%;
  display: flex;
}

.search-shows__display {
  width: 70%;
}
