.popular-shows h1,
.popular-stars h1,
.schedule h1 {
  margin-bottom: 20px;
}

.popular-shows-display,
.popular-stars-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

@media (min-width: 1024px) {
  .popular-shows-display,
  .popular-stars-display {
    justify-content: space-between;
  }
}
