.show-details-view {
  width: 70%;
}

.show-details-view__menu {
  display: flex;
  margin: 10px 0;
}

.show-details-view__display {
  display: flex;
}

.show-details-view__text {
  width: 70%;
  padding: 1rem;
}

.show-details-view__text p {
  line-height: 125%;
}

.view {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.view__follow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: tomato;
  border-bottom: 2px solid rgb(231, 58, 27);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view__follow:hover {
  background-color: rgb(231, 58, 27);
}

.show-details-view__aside {
  flex-direction: column;
  align-items: center;
  margin-top: 112px;
}

.show-details-view__aside__info {
  border: 1px solid tomato;
  width: 100%;
  padding: 1.5rem;
}

.show-details-view__aside__info h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.show-details-view__aside__info h3 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.show-details-view__aside__info h3 span {
  font-size: 1.2rem;
  font-weight: normal;
}

.show-details-view__aside__info h3 span a {
  color: tomato;
}

.show-details-view__aside__rating {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.star {
  font-size: 2rem;
}
