@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&display=swap');

body {
  font-family: 'Baloo 2', cursive;
}

.container {
  width: 1120px;
  height: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

h3 {
  font-size: 1.8rem;
  font-weight: 500;
}

aside {
  display: flex;
  width: 30%;
}

b {
  font-weight: 500;
}

u {
  text-decoration: underline;
}

i {
  font-style: italic;
}

.vertical-align {
  display: flex;
  align-items: center;
}
