.btn {
  border: none;
  border-radius: none;
  cursor: pointer;
}

input {
  outline: none;
}

.logo {
  width: 60px;
}

.navi-top {
  height: 80px;
  background-image: url('../../assets/images/NavBg.jpg');
  background-position: top;
  background-size: cover;
}

.navi-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navi__form {
  display: none;
  height: 2.5rem;
}

.rwd-search-btn {
  font-size: 2.2em;
  color: white;
  cursor: pointer;
}

.rwd-navi__form {
  position: absolute;
  clip-path: inset(0 0 100% 0);
  display: flex;
  flex-direction: column;
  width: 80%;
  right: 5px;
  top: 80px;
  border: 1px solid gray;
  transition: clip-path 0.3s;
}

.rwd-navi__select,
.rwd-navi__input {
  height: 2rem;
  border-radius: 0;
  border: 0;
}

.rwd-navi__form a button {
  width: 100%;
  border-radius: 0;
  padding-right: 0;
}

.rwd-navi__form.open {
  clip-path: inset(0 0 0 0);
}

@media (min-width: 768px) {
  .navi__form {
    display: flex;
  }

  .rwd-search-btn {
    display: none;
  }
}

.navi__input {
  height: 100%;
  width: 20rem;
  border: none;
  padding-left: 1rem;
  font-size: 0.9rem;
}

.btn-form {
  height: 100%;
  width: 5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-right: 1rem;
  font-size: 2rem;
  color: rgb(107, 107, 107);
  background-color: rgb(238, 238, 238);
  transition: color 0.5s, background-color 0.5s;
  display: none;
}

.btn-form:hover {
  color: rgb(238, 238, 238);
  background-color: rgb(153, 153, 153);
}

.navi-bottom {
  background-color: tomato;
  height: 2.2rem;
  font-size: 1.4rem;
  margin-bottom: 50px;
}

.navi-bottom__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (min-width: 450px) {
  .navi-bottom__links {
    width: 45%;
  }
}

.navi-bottom__links a {
  display: flex;
  align-items: center;
  color: rgb(38, 38, 38);
  height: 100%;
  padding: 0 3px;
  transition: color 0.3s, background-color 0.3s;
}

@media (min-width:450px) {
  .navi-bottom__links a {
    padding: 0 20px;
  }
}

.navi-bottom__links a:hover {
  color: rgb(241, 241, 241);
  background-color: rgb(33, 33, 33);
}

.navi__select {
  border-top-left-radius: 1rem;
  color: rgb(107, 107, 107);
  background-color: rgb(238, 238, 238);
  font-weight: 800;
  font-size: 0.9rem;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 10px;
  cursor: pointer;
}

.navi__select option {
  color: rgb(107, 107, 107);
  background-color: rgb(238, 238, 238);
  font-weight: 600;
}
